<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Comment</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="TheComment" ng-controller="HomeCtrl">
    <div class="overlay">
    </div>
    <div class="wrapper">
        <div class="header">
            <h1><i class="fa fa-comment"></i> The Comment</h1>
            <p class="heading">Playing words cannot be funnier than this</p>
        </div>
        <div class="container">
            <ul swing-stack>
                <li
                    swing-card
                    swing-on-throwoutleft="left($index)"
                    swing-on-throwoutright="right($index)"
                    swing-config
                    ng-repeat="card in cards"
                    class="swing-card"
                    ng-click="comment(card.current)"
                    >
                    <div class="card-body">
                        <a class="my-word" word-play="card.current">{{card.last}}</a> itu bro {{card.description}}
                    </div>
                    <div class="card-profile">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="photo">
                                    <img src="http://api.randomuser.me/portraits/thumb/men/3.jpg" alt="">
                                </div>        
                            </div>
                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="card-username">
                                        Sonny Lazuardi    
                                    </div>
                                    <div class="card-stat">
                                        <span><i class="fa fa-thumbs-up"></i> 250</span> 
                                        <span><i class="fa fa-thumbs-down"></i> 5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="toast-left">
        <i class="fa fa-thumbs-up"></i>
    </div>

    <div id="toast-right">
        <i class="fa fa-thumbs-down"></i>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">The Comment of {{activeCard}}</h4>
          </div>
          <div class="modal-body">
            <textarea name="" id="" rows="5" class="form-control">{{activeCard}} itu bro ...</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/jquery.texttailor.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-swing.min.js"></script>
    <script>
        angular.module('TheComment', ['gajus.swing'])
        .controller('HomeCtrl', function($scope) {
            $scope.cards = [
                {last: 'kencing', description: 'kalo lu lari bisa dapet juara 1 pada suatu kompetisi', current: 'kencang'},
                {last: 'kancing', description: 'kalo lu kebelet trus mau buang sesuatu', current:'kencing'},
                {last: 'kencing', description: 'kalo lu lari bisa dapet juara 1 pada suatu kompetisi', current: 'kencang'},
                {last: 'kancing', description: 'kalo lu kebelet trus mau buang sesuatu', current:'kencing'},
                {last: 'kencing', description: 'kalo lu lari bisa dapet juara 1 pada suatu kompetisi', current: 'kencang'},
                {last: 'kancing', description: 'kalo lu kebelet trus mau buang sesuatu', current:'kencing'},
            ];
            $scope.activeCard;
            $scope.left = function (index) {
                $scope.cards.splice(index, 1);
                $scope.$apply();
                angular.element('#toast-left').show().addClass("animated bounceInLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    angular.element(this).fadeOut(1000).removeClass();
                });
            };
            $scope.right = function (index) {
                $scope.cards.splice(index, 1);
                $scope.$apply();
                angular.element('#toast-right').show().addClass("animated bounceInRight").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                    angular.element(this).fadeOut(1000).removeClass();
                });
            };
            $scope.add = function (name) {
                $scope.cards.push({name: name});
            };
            $scope.comment = function(active) {
                $scope.activeCard = active;
                $('#myModal').modal();
            };
        });
        $(function() {
            $('.card-body').textTailor();
            setTimeout(function() {
                $('.card-body').textTailor();
            }, 2000);
        });
    </script>
</body>
</html>